*{
    margin: 0;
    padding: 0;
}
.nav{
    background: url("./img/images4.jpg")center;
    /* color: white; */
    background-color: rgb(91, 184, 212);
    /* background: linear-gradient(90deg, rgb(114, 214, 0) 15%, rgb(10, 186, 209)9%, rgb(214, 197, 42) 86%);    */
    height: 70px;
    width: 100%;
    position: -webkit-sticky;
    justify-content: center;
}
li a{
    text-decoration: none;
    /* font-size: px; */
    padding: 12px;
    margin: 12px;
    color: #000;
    /* font-weight: bold; */
}
.link{
    position: absolute;
    top: 120px;
    right: 0px;
    /* float: right;
    clear: left; */


}

.link ul li{
    margin: 5px;
    padding: 5px;
    bottom: 0px;
    text-align: center;
}
/* tyo youtube , facebook and git icon haru lai ta text jasto po treat gardo raixa yarr */
.link ul li a{
    color: rgb(255, 255, 253);
    font-size: 25px;
    box-shadow:inset 0px 0px 15px 10px rgb(7, 196, 243), 0px 0px 15px rgb(159, 76, 170);
    box-shadow:inset 0 0px 5px 3px rgb(2, 245, 233), 0 10px 10px purple;
    border: 2px solid rgb(0, 253, 241);
    background-color: rgb(233, 17, 179);
    border-radius: 9px;
    padding: 10px 12px;
    /* font-weight: bold; */
}
.link ul li a:hover{
    /* color: rgb(121, 118, 86); */
    border: 2px solid rgb(0, 255, 242);
    font-size: 25px;
    /* box-shadow:inset 0px 0px 17px  rgb(218, 12, 166); */
    /* background-color: purple; */
    box-shadow: 0px 10px 15px rgb(250, 0, 167), inset 0px 0px 10px rgb(4, 242, 250);
    /* font-weight: bold; */
}
#li1{
    float: left;
    clear: both;
    vertical-align: center;
}
#li2{
    float: left;
    clear: right;
}
#li3{
    float: left;
    clear: right;
}
#li4{
    float: left;
    clear: right;
} 
#li5{
    float: left;
    clear: right;
} 
#li6{
    float: left;
    clear: right;
    /* margin: 10px 15px; */
    font-size: 33px;
    /* background-color: purple; */
    border: 2px solid rgb(3, 247, 255);
    box-shadow: inset 10px 10px 12px rgb(231, 2, 231),inset -10px -10px 16px rgb(247, 9, 195),5px 10px 15px rgb(32, 32, 32);
} 
.ull li a:hover{
    /* background-color: rgb(252, 252, 252); */
    border-radius: 17px;
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
    /* border: 1px solid rgb(0, 0, 0); */
    /* transition: 300ms; */
    
    /* background-attachment: cover; */
    background-color: #00eeff;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
    transition: 200ms;
    -webkit-text-stroke: 1px rgb(59, 59, 59);
}
.ull li a{ 

    color: rgb(0, 0, 0);
    font-size: 33px;
    /* text-decoration: underline; */
    display:inline-flexbox;
    margin-right: 75px;
    padding-left: 0px;
    margin-right: 72px; 
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #00eeff;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 17px;
    font-weight: bold;
    box-shadow: 5px 10px 15px rgb(0, 0, 0);
    padding: 10px 7px;
    
    /* -webkit-text-stroke: 1px rgb(0, 255, 242); */
} 
/* .ull li a{
    color:black;
    font-size: 27px;
    font-family: cursive;
    font-weight: bold;
    box-shadow: 2px 5px 7px black;
    border: 2px solid black;
} */
.premain{
    color: black;
    background: rgb(86,55,106);
    background: linear-gradient(90deg, rgba(0, 173, 159, 0.671) 0%, rgba(233, 0, 116, 0.849) 49%, rgb(179, 20, 219) 96%);        
    font-size: 32px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    /* background:transparent; */
}
.main{
    width: 100%;
    height: 120vh;
    background: url("./images/sumanfb.jpg")no-repeat center;
}
span{
    color: rgb(34,193,195);
    font-size: 29px;
    margin: 15px;

}

#li6{
    color: rgb(0, 0, 0);
    font-size: 33px;
    background: transparent;
    position: absolute;
    right: 35px;
    top: 2px;
    border-radius: 7px;
    animation-name: faltu;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes faltu{
    From{color: rgb(0, 0, 0);}
    To{color: transparent;}
}

