*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(1, 70, 61);
    color: white;
    height: 62px;
    width: 100%;
    /* position: fixed; */
}
li a{
    text-decoration: none;
    /* font-size: px; */
    padding: 12px;
    margin: 12px;
    color: #000;
    /* font-weight: bold; */
}
.link{
    position: absolute;
    top: 120px;
    right: 0px;
    /* float: right;
    clear: left; */


}

.link ul li{
    margin: 5px;
    padding: 5px;
    bottom: 0px;
    text-align: center;
}
/* tyo youtube , facebook and git icon haru lai ta text jasto po treat gardo raixa yarr */
.link ul li a{
    color: rgb(255, 255, 253);
    font-size: 25px;
    /* font-weight: bold; */
}
.link ul li a:hover{
    color: rgb(43, 185, 15);
    font-size: 25px;
    /* font-weight: bold; */
}
#ll3 a{
    color: rgb(43, 185, 15);
}
#li1{
    float: left;
    clear: both;
    vertical-align: center;
}
#li2{
    float: left;
    clear: right;
}
#li3{
    float: left;
    clear: right;
}
#li4{
    float: left;
    clear: right;
} 
#li5{
    float: left;
    clear: right;
} 
#li6{
    float: left;
    clear: right;
} 
.ull li a:hover{
    background-color: rgb(252, 252, 252);
    border-radius: 12px;
    color: rgb(68, 2, 2);
    /* border: 1px solid rgb(0, 0, 0); */
    /* transition: 300ms; */
    
    /* background-attachment: cover; */
    /* border: 2px solid cyan; */
}
.ull li a{
    color: rgb(144, 255, 255);
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
}
.premain{
    color: black;
    background: rgb(86,55,106);
    background: linear-gradient(90deg, rgba(17, 201, 11, 0.671) 0%, rgba(233, 0, 116, 0.849) 49%, rgb(179, 20, 219) 96%);        
    font-size: 32px;
    /* border-radius: 12px; */
    /* background:transparent; */
}
.main{
    background-image: url("./img/bgg.jpg");
    background-attachment: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
span{
    color: rgb(34,193,195);
    font-size: 29px;
    margin: 15px;

}
span:hover{
    color: rgb(255, 255, 255)
}
span .span1{
    float: left;
    clear: left;
}
span .span2{
    float: left;
    clear: left;
}
span .span3{
    float: left;
    clear: left;
}
span .span4{
    float: left;
    clear: left;
}
span .span5{
    float: left;
    clear: left;
}
#li6{
    color: rgb(0, 0, 0);
    font-size: 33px;
    background: transparent;
    position: absolute;
    right: 35px;
    top: 17px;
    border-radius: 7px;
    animation-name: faltu;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes faltu{
    From{color: rgb(0, 0, 0);}
    To{color: cyan;}
}
.fa {
    /* padding: 7px; */
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 7px ;
}

.fa {
    background: transparent;
    color: white;
    /* height: 45px;
    width: 45px; */
    border: 1px solid lightskyblue;
    border-radius: 12px;
}
.fa:hover{
    background: transparent;
    border: 1px solid;
}